@charset "utf-8";
/* CSS Document */

#store th {
	width: 240px;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
}
#content_place {
	padding-bottom: 10px;
}

#store td  {
	width: 460px;
}

#store{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

#sub_menu {
	margin: 0px;
	padding-top: 30px;
	padding-right: 0px;
	padding-bottom: 30px;
	padding-left: 0px;
}

#sub_menu a {
	margin-right: 20px;
	text-transform: uppercase;
	font-weight:bold;
}
